<!DOCTYPE html>
<html>
<head>
  <title>RestTester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Testing.</h1>
<%= yield %>
<h2>Testing #2</h2>
</body>
</html>
